<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="smsRuLogin" value="89063266745" />
    <add key="smsRuPassword" value="ilnaz123" />
    <add key="smsRuApiID" value="83D1381B-2A0F-966D-7583-F4839258B022" />
    <add key="partnerID" value="" />
    <add key="logFolder" value="C:\Users\Администратор.WIN-QVBBKNJHDMA\Documents\GitHub\GTExchange\SmsRu\Logs" />
    <add key="smsRuEmail" value="goldentime.service.personal@gmail.com" />
    <add key="email" value="" />
    <add key="smtpServer" value="" />
    <add key="smtpPort" value="" />
    <add key="smtpLogin" value="" />
    <add key="smtpPassword" value="" />
    <add key="smtpUseSSL" value="" />
    <add key="translit" value="" />
    <add key="test" value="" />
  </appSettings>
</configuration>
